.contact {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    padding-top: 2em;
    color: $dark-grey;
    background-color: aliceblue;
    text-align: center;

    &__item {
        margin-bottom: 2em;
        display: block;
    }
    
    & a {
        text-decoration: none;
        color: $dark-grey;
    }

    & i {
        color: $alt-color;
        font-size: 2em;
        padding-left: 1em;
        padding-right: 1em;
        width: auto;
        display: block;
        padding-bottom: 0.5em;
    }

    & span {
       color: black; 
       display: block;
       padding-bottom: 0.5em;
    }
    
}