.navigation {

    width: 75%;
    margin: auto;

    &__item {
        margin-top: 1.5em;
    }

    a {
        text-transform: uppercase;
        border-bottom-style: solid;
        border-image: linear-gradient(to right, $bg-color, $alt-color) 10;
        display: block;
        padding: 0.5em 0;
        opacity: 0.4;
        transition: $transition-fast;
        font-size: 1em;

        &:hover, &.active {
            opacity: 1;
        }
    }
}