.article {
    width: calc(100%/3);
    overflow: hidden;
    min-height: 100%;

    a {
        display: block;

        img {
            width: 100%;
        }
    }

    &__content {
        border-right: 1px solid lighten($light-grey, 8%);
        padding: 1em;
        color: $text-color;

        &__title {
            color: darken($dark-grey, 20%);
            font-size: 2em;
            font-weight: 400;
        }
    }

    @media (max-width: 900px) {
        width: 100%;

    }
}