.logo {
    padding-top: 1em;
    padding-bottom: 1em;
    opacity: 0.9;
    background-size: cover;
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.4em !important;
    margin-left: 0.2em;
    margin-right: 0.2em;
    border: 1px solid white;

}

.name {
    font-weight: bolder;

}
